@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

body{
    font-family: 'Inter', sans-serif;
    background-color: #F7F7F7;
}

.navbar{
    width: 100%;
    background-color: white;
    height: 75px;
    position: relative;
    top: -15px;
    display: flex;
    align-items:center;
    box-shadow: 0 8px 50px lightgray;
}
.navbar h1{
    font-size: 32px;
    margin-left: 100px;
}
.addtask{
    position: absolute;
    left: 900px;
    display: flex;
    align-items: center;
}
.addtask a{
    font-size: 20px;
    color: black;
    margin-left: 10px;
}
.cards1{
    height: 250px;
    width: 300px;
    background:white;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: inline-block;
    margin-left: 150px;
    margin-top: 100px;
    padding: 10px;
}
.cards2{
    height: 250px;
    width: 300px;
    background:white;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 100px;
    padding: 10px;
}
.cards3{
    height: 250px;
    width: 300px;
    background:white;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 100px;
    padding: 10px;
}
.cards4{
    height: 250px;
    width: 300px;
    background:white;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: inline-block;
    margin-left: 150px;
    margin-top: 50px;
    padding: 10px;
}
.cards5{
    height: 250px;
    width: 300px;
    background:white;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: inline-block;
    margin-left: 30px;
    margin-top: 50px;
    padding: 10px;
}
.cards6{
    height: 250px;
    width: 450px;
    background:white;
    border: 1px solid #EDEDED;
    border-radius: 10px;
    display: inline-block;
    margin-left: 450px;
    margin-top: 50px;
    padding: 10px;
}
.cards h3{
    color: #00A5EC;
    font-size: 22px;
    position: relative;
    margin-left: 20px;
}
.cards input{
    margin-left: 0px;
    margin-top: 20px;
}
.cards:hover{
    z-index: 1;
    box-shadow: 0 8px 50px lightgray;
    transform: scale(1.05);
}
.bg{
    width: 100%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.7);
    position:absolute;
    top: 0;
    display: flex;
    justify-content: center;
}
.popup{
    width: 400px;
    height: 220px;
    background-color: white;
    margin-top: 200px;
    border-radius: 10px;
}
.header{
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.header h3{
    position: relative;
    left: -40px;
}
.header a{
    position: relative;
    right: -40px;
    width: 30px;
}
#entertask{
    position: relative;
    top: 20px;
    left: 20px;
    width: 350px;
    height: 30px;
    border: none;
    background-color: #ECECEC;
    border-radius: 5px;
    color: #C2C2C2;
}
#addbutton{
    position: relative;
    left: 225px;
    top: 40px;
    width: 150px;
    height: 40px;
    border: none;
    background-color: #00A5EC;
    color: white;
    border-radius: 5px;
}
#plus{
    position: relative;
    left: -10px;
}
.back {
    display: inline-flex;
    position: relative;
    top: 5px;
}
.back img{
    width: 40px;
    margin-left: 450px;
}
.back a{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    color: #424242;
}
#backtext{
    position: relative;
    top: 10px;
}
.icon2{
    margin-left: 730px;
    margin-top: -45px;
}
.icon2 img{
    width: 42px;
}
.icon2 p{
    font-size: 18px;
    margin-left: 50px;
    margin-top: -35px;
}
@media only screen and (min-width: 200px) and (max-width:767px) {
    .navbar{
        width: 600px;
        background-color: white;
        height: 120px;
        position: relative;
        top: -15px;
        display: flex;
        align-items:center;
        box-shadow: 0 8px 50px lightgray;
    }
    .navbar h1{
        font-size: 42px;
        margin-left: 20px;
    }
    .addtask{
        position: absolute;
        left: 250px;
        display: flex;
        align-items: center;
    }
    #addimage{
        
    }
    #texttask{
        display: none;
    }
    .cards1{
        height: 500px;
        width: 500px;
        background:white;
        border: 1px solid #EDEDED;
        border-radius: 20px;
        display: inline-block;
        margin-left: 35px;
        margin-top: 100px;
        padding: 10px;
    }
    .cards2{
        height: 500px;
        width: 500px;
        background:white;
        border: 1px solid #EDEDED;
        border-radius: 20px;
        display: inline-block;
        margin-left: 35px;
        margin-top: 20px;
        padding: 10px;
    }
    .cards3{
        height: 500px;
        width: 500px;
        background:white;
        border: 1px solid #EDEDED;
        border-radius: 20px;
        display: inline-block;
        margin-left: 35px;
        margin-top: 20px;
        padding: 10px;
    }
    .cards4{
        height: 500px;
        width: 500px;
        background:white;
        border: 1px solid #EDEDED;
        border-radius: 20px;
        display: inline-block;
        margin-left: 35px;
        margin-top: 20px;
        padding: 10px;
    }
    .cards5{
        height: 500px;
        width: 500px;
        background:white;
        border: 1px solid #EDEDED;
        border-radius: 20px;
        display: inline-block;
        margin-left: 35px;
        margin-top: 20px;
        padding: 10px;
        margin-bottom: 50px;
    }
    .cards1 h3{
        color: #00A5EC;
        font-size: 42px;
        position: relative;
        margin-left: 20px;
    }
    .cards1 input{
        margin-left: 20px;
        margin-top: 20px;
        width: 38px;
        height: 38px;
    }
    .cards1 label{
        font-size: 28px;
        position: relative;
        top: -5px;
    }
    .cards2 h3{
        color: #00A5EC;
        font-size: 42px;
        position: relative;
        margin-left: 20px;
    }
    .cards2 input{
        margin-left: 20px;
        margin-top: 20px;
        width: 38px;
        height: 38px;
    }
    .cards2 label{
        font-size: 28px;
        position: relative;
        top: -5px;
    }
    .cards3 h3{
        color: #00A5EC;
        font-size: 42px;
        position: relative;
        margin-left: 20px;
    }
    .cards3 input{
        margin-left: 20px;
        margin-top: 20px;
        width: 38px;
        height: 38px;
    }
    .cards3 label{
        font-size: 28px;
        position: relative;
        top: -5px;
    }
    .cards4 h3{
        color: #00A5EC;
        font-size: 42px;
        position: relative;
        margin-left: 20px;
    }
    .cards4 input{
        margin-left: 20px;
        margin-top: 20px;
        width: 38px;
        height: 38px;
    }
    .cards4 label{
        font-size: 28px;
        position: relative;
        top: -5px;
    }
    .cards5 h3{
        color: #00A5EC;
        font-size: 42px;
        position: relative;
        margin-left: 20px;
    }
    .cards5 input{
        margin-left: 20px;
        margin-top: 20px;
        width: 38px;
        height: 38px;
    }
    .cards5 label{
        font-size: 28px;
        position: relative;
        top: -5px;
    }
    .bg{
        width: 600px;
        height: 3000px;
        background-color: rgba(0, 0, 0, 0.7);
        position:absolute;
        top: 0;
        display: flex;
        justify-content: center;
    }
    .popup{
        width: 550px;
        height: 470px;
        background-color: white;
        margin-top: 400px;
        border-radius: 20px;
    }
    .header{
        display: flex; 
        justify-content: space-around;
        align-items: center;
    }
    .header h3{
        position: relative;
        left: -40px;
        font-size: 42px;
    }
    .header a{
        position: relative;
        right: -10px;
        width: 30px;
    }
    #entertask{
        position: relative;
        top: 50px;
        left: 20px;
        width: 500px;
        height: 80px;
        border: none;
        background-color: #ECECEC;
        border-radius: 10px;
        color: #C2C2C2;
        font-size: 32px
    }
    #addbutton{
        position: relative;
        left: 225px;
        top: 100px;
        width: 290px;
        height: 80px;
        border: none;
        background-color: #00A5EC;
        color: white;
        border-radius: 10px;
        font-size: 32px;
    }
    #plus{
        position: relative;
        left: -10px;
    }
    .back {
        display: inline-flex;
        position: relative;
        top: 15px;
    }
    .back img{
        width: 46px;
        margin-left: 20px;
    }
    .back a{
        margin-left: 10px;
        margin-top: 20px;
        font-size: 20px;
        text-decoration: none;
        color: #424242;
    }
    #backtext{
        position: relative;
        top: 10px;
    }
    .icon2{
        margin-left: 250px;
        margin-top: -45px;
    }
    .icon2 img{
        width: 62px;
    }
    .icon2 p{
        font-size: 18px;
        margin-left: 50px;
        margin-top: -35px;
        display: none;
    }
    .cards6{
        height: 500px;
        width: 500px;
        background:white;
        border: 1px solid #EDEDED;
        border-radius: 20px;
        display: inline-block;
        margin-left: 35px;
        margin-top: 50px;
        padding: 10px;
    }
    .cards6 h3{
        color: #00A5EC;
        font-size: 42px;
        position: relative;
        margin-left: 20px;
    }
    .cards6 input{
        margin-left: 20px;
        margin-top: 20px;
        width: 38px;
        height: 38px;
    }
    .cards6 label{
        font-size: 28px;
        position: relative;
        top: -5px;
    }
}